<!DOCTYPE html>
    <html>
    <head>
        <title>{{title}}</title>
        <style>{{styles}}</style>
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <h1>MOE Tool</h1>
            <nav>
                <a href='/'>Tool</a>
                <a href='/program'>Simulation</a>
            </nav>
        </header>
