<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <h1>MOO Tool</h1>
        <nav>
            {% for item in navigation %}
            <a href='{{item.href}}'>{{item.caption}}</a>
            {% endfor %}
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>