{% extends 'base.html' %}

{% block content %}
<form action='/' method='POST'>
    <table><tbody>
        <tr>
            <td><label for='unif'>Unification Algorithm:</label></td>
                       <td><select id='unif' name='unif'>
                               <option value='p_syntactic'>Syntactic</option>
                               <!--<option value='p_ac'>AC</option>-->
                            <option value='p_unif'>F-Rooted P-Xor</option>
                            <option value='xor_rooted_security'>Xor-Rooted P-Xor</option>
                       </select></td>
        </tr>
        <tr>
               <td><label for='chaining'>Chaining Function:</label></td>
               <td><select id='chaining' name='chaining'>
                <option value='cipher_block_chaining'>Cipher Block Chaining</option>
                <option value='propogating_cbc'>Propogating Cipher Block Chaining</option>
                <option value='hash_cbc'>Hash Cipher Block Chaining</option>
                <option value='cipher_feedback'>Cipher Feedback</option>
                <option value='output_feedback'>Output Feedback</option>
                <!--<option value='counter_mode'>Counter Mode</option>-->
                <!--<option value='accumulated_block_cipher'>Accumulated Block Cipher</option>-->
                <!--<option value='double_hash_cbc'>Double Hash Cipher Block Chaining</option>-->
            </select></tr>
        <tr>
            <td><label for='schedule'>Schedule:</label></td>
            <td><select id='schedule' name='schedule'>
                <option value='every'>Every</option>
                <option value='end'>End</option>
            </select></td>
        </tr>
        <tr>
            <td><label for='length_bound'>Session Length Bound</label></td>
            <td><input type='number' min='1' max='100' name='length_bound' id='length_bound' required/></td>
        </tr>
        <tr>
            <td><label for='knows_iv'>Advesary knows IV?</label></td>
            <td><input type="checkbox" name="knows_iv" value="knows_iv" id="knows_iv" checked/></td>
        </tr>
    </tbody></table>
    <input type='submit' value='Execute!'/>
</form>
<div class='code'>
    <code>{{response}}</code>
</div>
<script src="{{url_for('static', filename='unifchaincheck.js')}}"></script>
{% endblock %}