{% extends 'base.html' %}

{% block content %}
<form action='/custom' method='POST'>
    <table><tbody>
        <tr>
                <label for="fname">Custom MOO:</label><br>
            <input type="text" id="cmoe" name="cmoe" value="f(xor(P[i],C[i-1]))"><br>
        </tr>
        <td><label for='unif'>Unification Algorithm:</label></td>
                       <td><select id='unif' name='unif'>
                               <option value='p_syntactic'>Syntactic</option>
                               <!--<option value='p_ac'>AC</option>-->
                               <option value='p_unif'>Xor</option>
                       </select></td>
        </tr>
        <tr>
            <td><label for='schedule'>Schedule:</label></td>
            <td><select id='schedule' name='schedule'>
                <option value='every'>Every</option>
                <option value='end'>End</option>
            </select></td>
        </tr>
        <tr>
            <td><label for='length_bound'>Session Length Bound</label></td>
            <td><input type='number' min='1' max='100' name='length_bound' id='length_bound' required/></td>
        </tr>
        <tr>
            <td><label for='knows_iv'>Advesary knows IV?</label></td>
            <td><input type="checkbox" name="knows_iv" value="knows_iv" id="knows_iv" checked/></td>
        </tr>
    </tbody></table>
    <input type='submit' value='Begin!'/>
</form>
<div class='code'>
    <code>{{response}}</code>
</div>

{% endblock %}