{% extends 'base.html' %}

{% macro is_selected(user_provided, other) -%}
	{% if user_provided == other %}
	selected
	{% endif %}
{%- endmacro %}

{% block content %}
<form action='/random' method='GET'>
	<table><tbody>
		<tr hidden><input type="number" min="1" max="100" name="rid" value="{{rid|default(1, true)}}" hidden/></tr>
		<tr>
       		<td><label for='chaining'>Chaining Required:</label></td>
       		<td><select id='chaining' name='chaining'>
    			<option value='Yes' {{is_selected(chaining, "Yes")}}>Yes</option>
        		<option value='No' {{is_selected(chaining, "No")}}>No</option>
		<tr>
        	<td><label for='iv'>IV Required:</label></td>
        	<td><select id='iv' name='iv'>
        		<option value='Yes' {{is_selected(iv, "Yes")}}>Yes</option>
        		<option value='No' {{is_selected(iv, "No")}}>No</option>
			</select></td>
        <tr>
			<td><label for='bound'>Encryption F Bound</label></td>
        	<td><input type='number' min='1' max='100' name='bound' id='bound' value='{{bound|default(1, true)}}' required/></td>
        </tr>
	</tbody></table>
	<input type='submit' value='Begin!'/>
</form>

<div class='code'><code>{{random_moe}}</code></div>

{% endblock %}
