body {
	margin: 0;
	padding: 0;
}

header {
	margin-bottom: 1rem;
	padding: 1.5rem;
	background-color: #002b5a;
	color: white;
}
header h1 {
	margin-top: 0;
}

header a {
	margin-right: 0.5rem;
	color: white;
}


form {
	margin-left: 1rem;
	line-height: 2;
}
table {
	margin-bottom: 1rem;
}
label {
	margin-right: 2rem;
}

.code {
	margin-top: 2rem;
	margin-left: 1rem;
}